.card {
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.card-body {
    padding: 30px 20px;
}

.card-body-statistics * {
    margin: 0;
}

.card-title-service, .card-media-top {
    margin-bottom: 20px;
}

.card-body-services {
    padding: 0;
}

.card-project {
    display: block;
}

@media (min-width: 640px) {
    .card-project {
        padding: 1em;
        float: left;
        text-align: left;
    }
}

.card-content-project,
.card-header-project {
  position: relative;
}

.content-project-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
  
.card-content-project:hover .content-project-overlay {
    opacity: 1;
}

.card-icon-project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: absolute;
    color: #fff;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
}

.card-icon-project li {
    padding: 0 25px;
}

.card-content-project:hover .card-icon-project {
    opacity: 1;
}

.card-body-project {
    background-color: rgb(251, 250, 248);
    position: relative;
    padding: 30px;
    z-index: 2;
}

.card-content-project:hover .card-body-project {
    background-color: #362f2d;
}

.card-media-title-project {
    color: #c7b299;
}

.card-media-text {
    color: #d1d1d1;
}

.card-content-project:hover .card-media-title-project {
    color: #d1d1d1;
}

.card-content-project:hover .card-media-text {
    color: #c7b299;
}

.card-body-adaptation {
    padding: 0;
    margin: auto;
}

.card-body-posts {
    border: 1px solid #f8f8f8;
    position: relative;
}

.card-media-adaptation {
    display: flex;
}

.card-media-adaptation img {
    margin: auto;
    max-width: 423px;
    max-height: 616px;
}

.card-media-text {
    font-size: 14px;
    line-height: 22px;
}

.card-statistics {
    padding: 0;
    margin: 0;
    width: 180px;
}

.card-media-posts {
    position: relative;
    height: 220px;
    display: flex;
}

.card-hover:hover {
    background-color: #fff;
    box-shadow: 0 14px 25px rgba(199, 178, 153, .1);
}