.card {
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.card-body {
    padding: 30px 20px;
}

.card-body-statistics * {
    margin: 0;
}

.card-title {
    font-size: 22px;
}

.card-title-service, .card-media-top {
    margin-bottom: 20px;
}

.card-body-services {
    padding: 0;
}

.card-body-adaptation {
    padding: 0;
    margin: auto;
}

.card-body-posts {
    border: 1px solid #f8f8f8;
    position: relative;
}

.card-media-adaptation {
    display: flex;
}

.card-media-adaptation img {
    margin: auto;
    max-width: 423px;
    max-height: 616px;
}

.card-media-title-project {
    margin-bottom: 10px;
}

.card-media-title {
    font-size: 20px;
}

.card-media-text {
    font-size: 14px;
    line-height: 22px;
}

.card-statistics {
    padding: 0;
    margin: 0;
}

.card-media-posts {
    position: relative;
    height: 220px;
    display: flex;
}

.card-body-project {
    position: relative;
    text-align: left;
    background-color: #fbfaf8;
}

.posts-title {
    color: #555555;
    font-weight: 500;
    margin-bottom: 20px;
}

.card-body-project:hover {
    background-color: #362f2d;
}

.card-hover:hover {
    background: #fff;
    box-shadow: 0 14px 25px rgba(199, 178, 153, .1);
}