.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.hero * {
    margin: auto;
    margin-bottom: 15px;
}

.hero-title, .hero-subtitle {
    font-family: 'Raleway';
}

.hero-title {
    font-size: 36px;
    font-weight: 400;
}

.hero-subtitle {
    font-size: 52px;
    font-weight: 900;
}

.hero-description {
    line-height: 24px;
    padding-bottom: 52px;
}

.hero-dotnav li {
    margin-left: 10px;
}

.hero-dotnav a {
    margin: 0;
    padding: 0;
    width: 11px;
    height: 11px;
    color: #ffffff;
    opacity: 0.5;
}
.hero-dotnav a:hover {
    width: 15px;
    height: 15px;
}
