.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-family: 'Raleway';
    position: relative;
}

.hero * {
    max-width: 589px;
    margin: auto;
    margin-bottom: 15px;
}

.hero-title {
    font-size: 36px;
    font-weight: 400;
}

.hero-subtitle {
    font-size: 52px;
    font-weight: 900;
}

.hero-description {
    font-family: 'Montserrat';
    line-height: 24px;
    padding-bottom: 52px;
}

.hero-dotnav li {
    margin: 0;
}