.uk-list::before {
    content: '';
    border: 5px solid #c7b299;
    background-color: #c7b299;
}

.list-adaptation {
    position: relative;
}

.list-adaptation-item div {
    padding: 0 0 20px 50px;
}

.list-adaptation-item::before {
    content: '';
    text-align: center;
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url('../../images/6-excellent-for-device/01@4x.svg');
    background-size: contain;
    background-repeat: no-repeat;
}