.posts-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.posts-background img {
    object-fit: cover;
}

.posts-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background-color: #777777;
}

.posts-img-calendar {
    padding: 20px 20px;
}

.posts-foregtround span {
    display: flex;
}

.upper-date, .lower-date {
    position: relative;
}

.posts-text {
    margin-bottom: 27px;
}