.statistics {
    background-color: #3b2921;
}

.statistics-number {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 21px;
}

.statistics-number-meaning {
    font-size: 14px;
    color: #c7b299;
}