.video-title {
    font-weight: 500;
}

.feedback-title {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-media-title-project {
    margin-bottom: 10px;
}


.card-media-title {
    font-size: 20px;
}

.card-title {
    font-size: 22px;
}

.posts-title {
    color: #555555;
    font-weight: 500;
    margin-bottom: 20px;
}